<!DOCTYPE html>
<html lang="en">
  <%- include(utils.root('/partials/head.ejs'), { isHome: false, page: 'Płatności za Wycieczki' }); %>
<body>
  <div class="page-wrapper">
    <%- include('partials/page-header.ejs'); %>
    <div class="content-wrapper content-wrapper--delete-confirmation">
      <main class="content-card delete-confirmation">
        <h1 class="delete-confirmation__heading">Czy na pewno chcesz usunąć tę płatność za wycieczkę?</h1>
        <p class="delete-confirmation__subject">Do: <%= tripParticipant.trip.name %>; Przez: <%= tripParticipant.participant.name %> <%= tripParticipant.participant.surname %></p>
        <p class="delete-confirmation__subtext">
          Zostanie ona usunięta natychmiastowo. Akcja ta jest nieodwracalna.
        </p>
        <form class="delete-confirmation__buttons" method="POST" action=".">
          <a class="button button--muted" href="/trip-payments">Anuluj</a>
          <button class="button button--danger" type="submit">
            Usuń Płatność za Wycieczkę
            <span class="material-icons">delete</span>
          </button>
        </form>
      </main>
    </div>
    <%- include(utils.root('/partials/footer.ejs')); %>
  </div>
</body>
</html>
