<!DOCTYPE html>
<html lang="en">
<%- include(utils.root('/partials/head.ejs'), { isHome: false, page: 'Płatności za Wycieczki' }); %>
<body>
  <div class="page-wrapper">
    <%- include('partials/page-header.ejs'); %>
    <div class="content-wrapper">
      <main class="content-card">
        <section>
          <header class="content-card__header-container">
            <h1 class="content-card__heading">Szczegóły Płatności za Wycieczkę</h1>
          </header>
          <%-
            include('./partials/form.ejs', {
              tripParticipant,
              errors: undefined,
              form: {
                disabled: true,
                hideForeignFields: true
              }
            })
          %>
          <div class="form__buttons-container">
            <a href="./update" class="button">
              Edytuj
              <span class="material-icons">edit</span>
            </a>
            <a href="/trip-payments/" class="button button--muted">Wróć</a>
          </div>
        </section>
        <section>
          <h2 class="details__subheader">Uczestnik</h2>
          <%-
            include(utils.root('/pages/participants/partials/form.ejs'), {
              participant: tripParticipant.participant,
              errors: undefined,
              form: {
                disabled: true,
              }
            })
          %>
        </section>
        <section>
          <h2 class="details__subheader">Wycieczka</h2>
          <%-
            include(utils.root('/pages/trips/partials/form.ejs'), {
              trip: tripParticipant.trip,
              hotels: [hotel],
              errors: undefined,
              form: {
                disabled: true,
              }
            })
          %>
        </section>
      </main>
    </div>
    <%- include(utils.root('/partials/footer.ejs')); %>
  </div>
</body>
</html>
