<div class="input<% if (error) { %> input--has-error<% } %>" id="<%= name %>-wrapper">
  <label class="input__label<% if (disabled) {%> input__label--disabled<%}%>">
    <%= label %>
  </label>
  <select
    name="<%= name %>"
    id="<%= name %>"
    class="input__element"
    <% if (disabled) {%> disabled <%}%>
  >
    <option value="" disabled selected><%= placeholder %></option>
    <% for (let i = 0; i < elements.length; i++) {
      const element = elements[i]
      const value = getValue(element)
      const text = getOptionText(element)
      const isSelected = getIsSelected(element)
    %>
      <option
        value="<%= value %>"
        <% if (isSelected) { %> selected <% } %>
      >
        <%= text %>
      </option>
    <% } %>
  </select>

  <div class="input__info input__info--danger <% if (!error) { -%>input__info--hidden<% } -%>">
      <%= error %>
    </div>
</div>
