<!DOCTYPE html>
<html lang="en">
<%- include(utils.root('/partials/head.ejs'), { page: 'Uczestnicy' }); %>
<body>
  <div class="page-wrapper">
    <%- include('./partials/page-header.ejs'); %>
    <div class="content-wrapper content-wrapper--delete-confirmation">
      <main class="content-card delete-confirmation">
        <h1 class="delete-confirmation__heading">Czy na pewno chcesz usunąć tego uczestnika?</h1>
        <p class="delete-confirmation__subject"><%= participant.name %> <%= participant.surname %></p>
        <p class="delete-confirmation__subtext">
          Zostanie on usunięty natychmiastowo. Akcja ta jest nieodwracalna.
        </p>
        <% if (tripParticipants.length > 0) { %>
          <div class="delete-confirmation__table">
            <p class="delete-confirmation__table__subtext">
              Następujące Płatności za Wycieczki również zostaną usunięte
            </p>
            <%- include(utils.root('/pages/trip-payments/partials/table.ejs'), {
              tripParticipants,
              alternateColumns: true,
            }); %>
          </div>
        <% } %>
        <form class="delete-confirmation__buttons" method="POST" action=".">
          <a class="button button--muted" href="../../">Anuluj</a>
          <button class="button button--danger" type="submit">
            Usuń Uczestnika
            <span class="material-icons">delete</span>
          </button>
        </form>
      </main>
    </div>
    <%- include(utils.root('/partials/footer.ejs')); %>
  </div>
</body>
</html>
