<div class="table-wrapper">
  <table class="table">
    <thead>
      <tr class="table__header">
        <th class="table__cell table__header-cell">Nazwa Hotelu</th>
        <th class="table__cell table__header-cell">Gwiazdki</th>
        <th class="table__cell table__header-cell"></th>
      </tr>
    </thead>
    <tbody class="table__tbody">
      <% for (let i = 0; i < hotels.length; i++) { %>
        <% const hotel = hotels[i] %>
        <tr class="table__row">
          <td class="table__cell">
            <a href="/hotels/<%= hotel.id %>/" class="table__cell-link">
              <%= hotel.name %>
            </a>
          </td>
          <td class="table__cell">
            <a href="/hotels/<%= hotel.id %>/" class="table__cell-link">
              <div class="hotel-stars hotel-stars--stars-<%= hotel.numberofstars %>">
                <span class="material-icons hotel-stars__icon">star</span>
                <span class="material-icons hotel-stars__icon">star</span>
                <span class="material-icons hotel-stars__icon">star</span>
                <span class="material-icons hotel-stars__icon">star</span>
                <span class="material-icons hotel-stars__icon">star</span>
              </div>
            </a>
          </td>
          <td class="table__cell table__cell--actions">
            <div class="table__actions-container">
              <a href="/hotels/<%= hotel.id %>/update/" class="action-button">
                <span class="material-icons">edit</span>
              </a>
              <a href="/hotels/<%= hotel.id %>/delete/" class="action-button action-button--danger">
                <span class="material-icons">delete</span>
              </a>
            </div>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
