<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head.ejs', { isHome: false, page: 'Hotele' }); %>
<body>
  <div class="page-wrapper">
    <%- include('partials/page-header.ejs'); %>
    <div class="content-wrapper">
      <main class="content-card">
        <% if (hotels.length > 0) { %>
          <header class="content-card__header-container">
            <h1 class="content-card__heading">Lista Hoteli</h1>
            <a href="./create" class="button">
              Nowy Hotel
              <span class="material-icons">add</span>
            </a>
          </header>

          <% if (hasSuccess) { %>
            <%- include('../../partials/success-message.ejs', { message: "Pomyślnie zedytowano hotel" }); %>
          <% } %>

          <% if (hasDeleted) { %>
            <%- include('../../partials/success-message.ejs', { message: "Pomyślnie usunięto hotel" }); %>
          <% } %>

          <% if (hasAdded) { %>
            <%- include('../../partials/success-message.ejs', { message: "Pomyślnie dodano hotel" }); %>
          <% } %>

          <% if (hasError) { %>
            <%- include('../../partials/error-message.ejs', { message: "Wystąpił błąd" }); %>
          <% } %>

          <%- include('partials/table.ejs', { hotels }); %>
        <% } else { %>
          <%-
          include(
            '../../partials/empty.ejs',
              {
                info: 'Brak hoteli',
                button: 'Dodaj Pierwszy Hotel'
              }
            );
          %>
        <% } %>
      </main>
    </div>
    <%- include('../../partials/footer.ejs'); %>
  </div>
</body>
</html>
