<!DOCTYPE html>
<html lang="en">
<%- include(utils.root('/partials/head.ejs'), { page: 'Wycieczki' }); %>
<body>
  <div class="page-wrapper">
    <%- include('./partials/page-header.ejs'); %>
    <div class="content-wrapper">
      <main class="content-card">
        <% if (trips.length > 0) { %>
          <header class="content-card__header-container">
            <h1 class="content-card__heading">Lista Wycieczek</h1>
            <a href="./create" class="button">
              Nowa Wycieczka
              <span class="material-icons">add</span>
            </a>
          </header>

          <% if (hasSuccess) { %>
            <%- include(utils.root('/partials/success-message.ejs'), { message: "Pomyślnie zedytowano wycieczkę" }); %>
          <% } %>

          <% if (hasDeleted) { %>
            <%- include(utils.root('/partials/success-message.ejs'), { message: "Pomyślnie usunięto wycieczkę" }); %>
          <% } %>

          <% if (hasAdded) { %>
            <%- include(utils.root('/partials/success-message.ejs'), { message: "Pomyślnie dodano wycieczkę" }); %>
          <% } %>

          <% if (hasError) { %>
            <%- include(utils.root('/partials/error-message.ejs'), { message: "Wystąpił błąd" }); %>
          <% } %>

          <%- include('./partials/table.ejs', { trips }); %>
        <% } else { %>
          <%-
            include(
              utils.root('/partials/empty.ejs'),
              {
                info: 'Brak wycieczek',
                button: 'Dodaj Pierwszą Wycieczkę'
              }
            );
          %>
        <% } %>
      </main>
    </div>
    <%- include(utils.root('/partials/footer.ejs')); %>
  </div>
</body>
</html>
