<!DOCTYPE html>
<html lang="en">
<%- include(utils.root('/partials/head.ejs'), { page: 'Wycieczki' }); %>
<body>
  <div class="page-wrapper">
    <%- include('./partials/page-header.ejs'); %>
    <div class="content-wrapper content-wrapper--delete-confirmation">
      <main class="content-card delete-confirmation">
        <h1 class="delete-confirmation__heading">Czy na pewno chcesz usunąć tę wycieczkę?</h1>
        <p class="delete-confirmation__subject"><%= trip.name %></p>
        <p class="delete-confirmation__subtext">
          Zostanie ona usunięta natychmiastowo. Akcja ta jest nieodwracalna.
        </p>
        <% if (tripParticipants.length > 0) { %>
          <div class="delete-confirmation__table">
            <p class="delete-confirmation__table__subtext">
              Następujące Płatności za Wycieczki również zostaną usunięte
            </p>
            <%- include(utils.root('/pages/trip-payments/partials/table.ejs'), {
              tripParticipants,
              alternateColumns: false,
            }); %>
          </div>
        <% } %>
        <form class="delete-confirmation__buttons" method="POST" action=".">
          <a class="button button--muted" href="/trips/">Anuluj</a>
          <button class="button button--danger" type="submit">
            Usuń Wycieczkę
            <span class="material-icons">delete</span>
          </button>
        </form>
      </main>
    </div>
    <%- include(utils.root('/partials/footer.ejs')); %>
  </div>
</body>
</html>
